
<h1>User Lists</h1>

<ul class="books ">
  <table>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name %></td>
      <td><%= link_to user.email %></td>
      


    </tr>
  <% end %>
</ul>
</table>





