
<h1>User Lists</h1>
  
<ul class="books ">
  <table class='table'>
    <tr>
      <th>Name</th>
      
      <th>Email</th>
      

      <th>Action</th>
      
    </tr>
  
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name %></td>
      <td><%= link_to user.email %></td>
    <td><% if user.paid == true  %>
      paid
      <%else%>
     
      <%= link_to "mark as paid", mark_as_paids_path(:id => 
    user.id) %><%end%></td>


    </tr>
 
  <% end %>


</ul>
</table>






