<h4> Payment Details</h4>

<p><b>DD infavor of:</b> </p>
<p><b>DD Amount:</b></p>
<p><b>EasyRead Library:</b>
	<br>Adresss:No 4/16, 1st Floor, 2nd Street,
Sanjay Gandhi Nagar,
Virugambakkam,
Chennai - 600092,
India.</p>
