

<h4> Payment Details:</h4>

<p><strong>DD infavor of:</strong>  EasyRead Library</p>

<p><strong>DD Amount:</strong> 1000</p>

<p><strong>EasyRead Library:</strong><br>
Adresss:No 4/16, 1st Floor, 2nd Street,
Sanjay Gandhi Nagar,
Virugambakkam,
Chennai - 600092,
India.</p>

<%= render "devise/shared/notice"  %>
